<div class="panel admin-panel">
  <h2><%=@superpower.name%></h2>
  <%=@superpower.description%>
</div>

<div class="admin-button-group">
  <%if !current_user.nil? && current_user.admin? %>
    <div class="button admin">
      <%= link_to 'Edit', edit_admin_superpower_path(@superpower) %>
    </div>
    <div class="button admin">
      <%= link_to 'Delete', [:admin, @superpower], method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <%end%>

  <div class="button admin">
    <%= link_to 'View all superpowers', admin_superpowers_path %>
  </div>
</div>
