<%= form_for [@superpower, @review] do |f| %>

<div>
  <%= f.label :rating, 'Rating'%>
  <%= f.radio_button :rating, 1 %>
  <%= f.label :rating_1, '1' %>
  <%= f.radio_button :rating, 2 %>
  <%= f.label :rating_2, '2' %>
  <%= f.radio_button :rating, 3 %>
  <%= f.label :rating_3, '3' %>
</div>

<div>
  <%= f.label :body, 'Review' %>
  <%= f.text_area :body %>
</div>

<%= f.submit 'Submit Review' %>

<% end %>
