<!DOCTYPE html>
<html>
<head>
  <title>SuperpowerReviewSite</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    @import url('https://fonts.googleapis.com/css?family=Ubuntu');
  </style>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Bangers');
    </style>
  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>
</head>
<body>

  <section class="top-bar-section">
    <nav class="nav-container">
      <div class="nav-name">
        <a href="/"><%= link_to image_tag("nav-title-bar", alt: "title")%>
      </div>
      <div class="nav-logo">
        <%= link_to image_tag("SupLogo", alt: "logo")%>
      </div>
      <div class="nav-links">
        <%- if current_user -%>
          <div class="nav-so"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></div>
        <%- else -%>
          <div class="nav-su"><%= link_to 'Sign Up', new_user_registration_path %></div>
          <div class="nav-si"><%= link_to 'Sign In', new_user_session_path %></div>
        <%- end -%>
      </div>
    </nav>
  </section>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
